/**
* Los componente se pueden definir usando el nombre de lo que se desea agregar estilos, en este caso auth.
* Las clases se recomienda que comiencen con el nombre del componente como prefijo.
*/

.auth__main {
    width: 50%;
}

button {
    font-size: 1.3rem;
    margin-right: 1rem;
    padding: .1rem;
}

input {
    color: $inputColor;
    font-size: .5rem;
    width: 100%;
}